$blue: #3464DF;
$darkblue: #163DA1;
$black: #171717;
$white: white;
$gray: #F4F4F4;
$darkgray: gray;

$placeholderTextColor: #7c371a;
$inputBorderColor: #CDCDCD;

$scrollbarBackgroundColor: lightgray;
$progressbarBackgroundColor: lightgray;
$buttonsDangerColor: crimson;

$dragAreaBackgroundColor: #EDF2FF;
$premiumPlanColor: orange;