$blue: #3464DF;
$darkblue: #163DA1;
$black: #171717;
$gray: #F4F4F4;
$darkgray: gray;
$white: white;
$placeholderTextColor: #7c371a;
$inputBorderColor: #CDCDCD;
$scrollbarBackgroundColor: lightgray;
$progressbarBackgroundColor: lightgray;